<section class="wrap">
    <div class="logo"><img src="images/main_logo.png"></div>
    <div class="container">
        <div class="weather_img">
            <img src="images/animations/cloudy.gif">
        </div>
        <div class="state">
            <div class="inline left">
                <div class="address">Dobong-gu, Seoul</div>
                <div class="weather">Cloudy</div>
            </div>
            <div class="inline right">
                <div class="temperature">35°</div>
            </div>
        </div>
    </div>
</section>