<section class="wrap">
    <div class="inline left">
        <div class="container main">
            <header>" 물 너무 많이 주지마. 배불러요. "</header>
            <article>
                <div class="inline left">
                    <img src="images/pot.png">
                    <img class="moisture_01" src="images/water.png">
                    <img class="moisture_02" src="images/water.png">
                    <img class="moisture_03" src="images/water.png">
                    <img class="moisture_04" src="images/water.png">
                    <img class="moisture_05" src="images/water.png">
                </div>
                <div class="inline right">
                    <div class="age balloon">
                        <div class="head">Age</div>
                        <div class="body">1Month 20Days</div>
                    </div>
                    <div class="moisture balloon">
                        <div class="head">Soil Moisture</div>
                        <div class="body">40%</div>
                    </div>
                    <div class="feeling balloon">
                        <div class="head">Feeling</div>
                        <div class="body">Thirsty & Angry</div>
                    </div>
                </div>
            </article>
        </div>
        <div class="container diary">
            <header><img src="images/ic_back.png"><span>Watering Diary</span></header>
            <article>
                <table>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Wartering</th>
                            <th>Soil Moisture</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>7.05</td>
                            <td>
                                <img src="images/sprink.png">
                            </td>
                            <td>
                                <span>95%</span>
                                <img src="images/waterball.png">
                                <img src="images/waterball.png">
                                <img src="images/waterball.png">
                                <img src="images/waterball.png">
                                <img src="images/waterball.png">
                            </td>
                        </tr>
                        <tr>
                            <td>7.10</td>
                            <td>
                            </td>
                            <td>
                                <span>50%</span>
                                <img src="images/waterball.png">
                                <img src="images/waterball.png">
                                <img src="images/waterball.png">
                            </td>
                        </tr>
                        <tr>
                            <td>7.15</td>
                            <td>
                                <img src="images/sprink.png">
                                <img src="images/sprink.png">
                            </td>
                            <td>
                                <span>97%</span>
                                <img src="images/waterball.png">
                                <img src="images/waterball.png">
                                <img src="images/waterball.png">
                                <img src="images/waterball.png">
                                <img src="images/waterball.png">
                            </td>
                        </tr>
                        <tr>
                            <td>7.20</td>
                            <td>
                                <img src="images/sprink.png">
                            </td>
                            <td>
                                <span>70%</span>
                                <img src="images/waterball.png">
                                <img src="images/waterball.png">
                                <img src="images/waterball.png">
                                <img src="images/waterball.png">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </article>
        </div>
    </div>
    <div class="inline right">
        <div class="container">
            <header>
                <div class="home">My Home</div>
            </header>
            <article>
                <section class="temperature">
                    <div class="head">Temperature</div>
                    <div class="body">
                        <img src="images/temperature_02.png">
                        <span>35°</span>
                    </div>
                </section>
                <section class="humidity">
                    <div class="head">Humidity</div>
                    <div class="body">
                        <img src="images/dropwater_03.png">
                        <span>85%</span>
                    </div>
                </section>
            </article>
        </div>
    </div>
    <nav>
        <div class="inline left">
            <div class="card mon">
                <div class="icon"><img src="images/weather_cloud.png"></div>
                <div class="day">Mon</div>
            </div>
            <div class="card tue">
                <div class="icon"><img src="images/weather_cloud.png"></div>
                <div class="day">Tue</div>
            </div>
            <div class="card wed">
                <div class="icon"><img src="images/weather_cloud.png"></div>
                <div class="day">Wed</div>
            </div>
            <div class="card thurs">
                <div class="icon"><img src="images/weather_cloud.png"></div>
                <div class="day">Thurs</div>
            </div>
            <div class="card fri">
                <div class="icon"><img src="images/weather_cloud.png"></div>
                <div class="day">Fri</div>
            </div>
            <div class="card satur">
                <div class="icon"><img src="images/weather_cloud.png"></div>
                <div class="day">Satur</div>
            </div>
            <div class="card sun">
                <div class="icon"><img src="images/weather_cloud.png"></div>
                <div class="day">Sun</div>
            </div>
        </div>
        <div class="inline right">
            <div class="alert">
                <img src="images/notice.png">
                <span>폭염</span>
            </div>
            <div class="sound">
                <img src="images/sound_on.png">
            </div>
        </div>
    </nav>
</section>

<section class="alert_back">
    <div id="talk" class="alert">
        <header>
            <div class="ic_close"><img src="images/ic_close.png"></div>
        </header>
        <article>
            <div class="card user">
                <div class="inline left">
                    <div class="profile">
                        <img src="images/p1.png">
                    </div>
                </div>
                <div class="inline right">
                    <header>
                        <div class="label">Ramy</div>
                    </header>
                    <article>
                        <div class="contents">안녕 밍기뉴~! 만나서 반가워~!</div>
                    </article>
                </div>
            </div>
            <div class="card ming">
                <div class="inline left">
                    <header>
                        <div class="label">Mingginyu</div>
                    </header>
                    <article>
                        <div class="contents">안녕하세요. 공주님! 반갑습니다 :)</div>
                    </article>
                </div>
                <div class="inline right">
                    <div class="inline left">
                        <div class="profile">
                            <img src="images/p2.png">
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <footer>
            <div class="thinking">밍기뉴가 당신 말의 뜻을 생각하는 중입니다.</div>
        </footer>
    </div>
</section>